
.Sidebar{
    transition: 2s ease-in;
    position: absolute;
    top: 0px;
    width: 350px;
    height: 100%;
    background-color: black;
}

.active{    
    transition: 1s ease-in;
    left: 0px; 
}

.inactive{
     transition: .4s ease-in-out;
     position: absolute; 
     left: -5000px;
}

.icon{
    margin-left: 50px;
    margin-top: 50px;
}

.Othercontent{
    z-index: 999999;
    position: absolute;
    left: 350px;
    width: 80vw;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}