.Card{
    cursor: pointer;
    width: 250px;
    height: 350px;
    margin: 0 10px 30px ;

}
.CardIMG{

    width: 100%;
    height: 60%;
    margin-bottom: 10px;
}

.CardIMG img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.CardTitle{
    font-size: 1.2rem;
    font-size: 0.90rem;
    margin-bottom: 15px;
    text-align: left;
    max-height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.CardPrice{
    font-weight: 600; /* Font semibold*/

    max-width: 100px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
    color: black

}

.CardStars{
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 40px;
}

.CardReviews{
    color: #999999;
    margin-left: 10px;
}

/* Responsive Desing  */

@media only screen and (max-width: 1920px){
    .Card{
       width: 250px;
       margin: 0 10px 10px ;
    }
    .CardIMG{
       height: 50%;
    }
    .CardIMG img{
       object-fit: none;
    }
}
@media only screen and (max-width: 1440px){
    .Card{
        width: 240px;
    }
}
@media only screen and (max-width: 1280px) {
    .Card{
       width: 240px;
       margin: 0 auto 10px auto;
    }
    .CardIMG{
       height: 50%;
    }
    .CardIMG img{
       object-fit: fill;
    }
}
@media only screen and (max-width: 768px) {
    .Card{
       width: 160px;
       margin: 0 auto 10px auto;
    }
    .CardIMG{
       height: 50%;
    }
    .CardIMG img{
       object-fit: fill;
    }
}

