.Items{
    width: 100%;
    background-color: #F2F2F2;
    min-height: 600px;
}
.Text{
 
    margin: 50px auto auto; 
    width: 80%; 
    height: 45px;
    display: flex;
}
.enabled{
    border-bottom: 3px solid orange ;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    width: 252px;
    height: 100%;
}
.disabled{
    text-align: center;
    color: #B3B3B3;
    width: 252px;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .Items{
        height: 850px;
    }
    .enabled{
        margin-right: 10px;
        margin-left: 10px;
    }

}
