.Recomendation{


    width: 80%;
    height: 400px; 
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto auto;
    justify-content: center;
    align-items: center;
}

.LastProduct{
    margin: 60px 0 0 0;
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
}   
.LastProductText{
    width: 100%;
    text-align: left;
    height: 60px;
    font-size: 2rem;
}

.LastProductText h3{
    padding-left: 180px;
}   

@media only screen and (max-width: 760px) {
    .Recomendation{
        width: 100%;
    }
    .LastProduct{
        margin-top: 50px;
    }
    .LastProductText{
        margin-bottom: 20px;
    }
    .LastProductText h3{
        padding-left: 0;
        text-align: center;
    }
}

