.Container{
  justify-content: center;
  margin: 0 auto auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  min-height: 700px;
}
.Spacer{
  margin-top: 150px;
}



@media only screen and (max-width: 600px) {
  .Container{
      width: 100%;
  }
}